/* Coolors Exported Palette - https://coolors.co/262626-2e86ab-f24236-ffd791-cdd1de */

/* CSS HEX */
--eerie-black: #262626ff;
--blue-ncs: #2e86abff;
--cinnabar: #f24236ff;
--deep-champagne: #ffd791ff;
--light-periwinkle: #cdd1deff;

/* CSS HSL */
--eerie-black: hsla(0, 0%, 15%, 1);
--blue-ncs: hsla(198, 58%, 43%, 1);
--cinnabar: hsla(4, 88%, 58%, 1);
--deep-champagne: hsla(38, 100%, 78%, 1);
--light-periwinkle: hsla(226, 20%, 84%, 1);

/* SCSS HEX */
$eerie-black: #262626ff;
$blue-ncs: #2e86abff;
$cinnabar: #f24236ff;
$deep-champagne: #ffd791ff;
$light-periwinkle: #cdd1deff;

/* SCSS HSL */
$eerie-black: hsla(0, 0%, 15%, 1);
$blue-ncs: hsla(198, 58%, 43%, 1);
$cinnabar: hsla(4, 88%, 58%, 1);
$deep-champagne: hsla(38, 100%, 78%, 1);
$light-periwinkle: hsla(226, 20%, 84%, 1);

/* SCSS RGB */
$eerie-black: rgba(38, 38, 38, 1);
$blue-ncs: rgba(46, 134, 171, 1);
$cinnabar: rgba(242, 66, 54, 1);
$deep-champagne: rgba(255, 215, 145, 1);
$light-periwinkle: rgba(205, 209, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-right: linear-gradient(90deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-bottom: linear-gradient(180deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-left: linear-gradient(270deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-top-right: linear-gradient(45deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-bottom-right: linear-gradient(135deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-top-left: linear-gradient(225deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-bottom-left: linear-gradient(315deg, #262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);
$gradient-radial: radial-gradient(#262626ff, #2e86abff, #f24236ff, #ffd791ff, #cdd1deff);